{% extends "base.html" %}

{% block form %}
    <form class = "form" action = "/index" method="POST">
        <label class = "label" for="newtask">Enter your task:</label>
        <input id = "input" name="newtask" class="label" type="text" placeholder="Do Homework">
    </form>
{% endblock %}

{% block body %} 
    <div id = "fulllist">
        {% for task in tasks %}
            {% if task %}
                <div class="list">
                    <div class="listtext">{{task[0]}}</div>
                    <form class = "del" action="/delete" method="POST">
                    <input title="done" class="checkbox" type="checkbox">
                    <input type="number" for = "index{{task[1]}}" name="index" class="index" title="num" value = {{task[1]}}>
                    <button type="submit" class="delete">X</button>
                    </form>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
       
